{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nelam - Servicios financieros a empleados publicos de la provincia de Mendoza, Argentina">
    <meta name="keywords" content="Nelam Servicios Financieros, prestamos, empleados publicos, provincia mendoza, concursados y quebrados">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/gif">
    <title>Nelam - Servicios financieros</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
      <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
</head>

<body class="js">
    <div id="preloader"></div>
    <!-- start header area -->
    <header class="header-area">
        <div class="topbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <div class="left-info">
                            <p><span class="fa fa-clock"></span>Horario de atencion : Lun - Jue : 14.00 a 18.00</p>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">

                        {% if user.is_authenticated %}

                        <div class="right-info">
                            <p><a href="{% url 'my' %}"><span><i class="fa fa-user-o"></i>Mi area de cliente</span> <span> | </span> </a> <a href="{% url 'logout' %}"><span><i class="fa fa-sign-out"></i>Salir</span> </a></p>
                        </div>

                        {% else %}

                        <div class="right-info">
                            <p><a href="{% url 'login' %}"><span><i class="fa fa-sign-in"></i>Login</span> <span> | </span> </a> <a href="#"><span><i class="fa fa-user-plus"></i>Registrarse</span> </a></p>
                        </div>


                        {% endif %}



                    </div>
                </div>
            </div>
        </div>
        <div class="logo-right-address">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sitelogo">
                            <a href="{% url 'index' %}"><img src="{% static 'images/logo4.png' %}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="right-address">
                            <div class="single-address">
                                <div class="icon">
                                    <img src="{% static 'img/call.png' %}"/>
                                </div>
                                <div class="content">
                                    <p>
                                        <span>Escribinos:</span> <a href="https://wa.me/5492616115562?text=%22Hola%20quiero%20solicitar%20un%20credito%22" target="_blank" >+54 261 6 115 562</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-address">
                                <div class="icon">
                                    <img src="{% static 'img/envalope.png' %}" alt=""/>
                                </div>
                                <div class="content">
                                    <p>
                                        <span>Email: </span> financieranelam@gmail.com
                                    </p>
                                </div>
                            </div>
                            <div class="single-address">
                                <a href="#" class="button btn btn-default btn-sm"><i class="fa fa-reply-all"></i> SOLICITAR PRESTAMO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-11 col-lg-11">
                        <div id="cssmenu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a>
                                <li><a href="#About">Empresa </a></li>
                                <li><a href="#Solicitud">Prestamos</a>
                                <li><a href="#Contacto">Contacto</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </header>
    <!-- end of header area -->
    <!-- start header area -->
    <section class="main-slider-area">
        <div class="active-main-slider owl-carousel">
              <div class="main-slider-item" style="background-image: url('{% static 'img/slide1.jpg' %}')">

                <div class="slider-one-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="main-slider-welcome-text">
                                    <div class="slider-cell">

                                        <h2 class="main-title" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">Estas buscando un <br>prestamo personal?</h2>
                                        <div class="welcome-button" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">
                                            <a href="#" class="btn btn-default button-primary">Solicitar prestamo</a>
                                            <a href="#" class="button-secondary btn btn-default">Contactenos</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider-item" style="background-image: url('{% static 'img/slide2.jpg' %}')">
                <div class="slider-one-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <div class="main-slider-welcome-text">
                                    <div class="slider-cell">
                                        <h2 class="sub-title" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">Prestamos a empleados publicos de Mendoza</h2>
                                        <h2 class="main-title" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">CONCURSADOS Y QUEBRADOS<br></h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider-item" style="background-image: url('{% static 'img/slide3.jpg' %}')">
                <div class="slider-one-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-slider-welcome-text">
                                    <div class="slider-cell">

                                        <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">En el acto y a sola firma!</h2>
                                        <div class="welcome-button" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="About"> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- end of header area -->
    <!-- Inicio sobre la empresa-->
    <br>
    <br>
    <br>
    <section class="about-page-shortcode section-padding">

        <div class="container rowpadding-with-border">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-image">
                        <img src="{% static 'img/about.jpg' %}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-content">
                        <h2>Sobre nosotros</h2>

                        <p>En <strong>Financiera Nelam</strong>, estamos para brindarle soluciones económicas para sus necesidades especiales. Nuestro asesor en préstamos, conocedor y experimentado, le explicará todo lo que necesite saber para su satisfacción. </p>
                        <p>Nuestro objetivo siempre es la satisfacción del cliente, por ello ponemos a su alcance todas las herramientas necesarias para su facilidad tanto en la obtencion como en el proceso del credito. </p>


                    </div>
                </div>
            </div>
        </div>
        <div id="Solicitud"> </div>
    </section>


    <!-- fin sobre empresa -->

    <!-- Inicio sobre calculadora de prestamos -->
    <section class="section-padding contact-us-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="get-in-touch">
                        <h2>Solicitud de crédito</h2>
                        <p>Por favor indiquenos sus datos y con gusto nos comunicaremos con usted.</p>
                    </div>
                    <form action="mail.php" method="POST" enctype="multipart/form-data">
                        <div class="row list-input">
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <input type="text" name="name" placeholder="Nombre y Apellido" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-get-touch">
                                    <input type="text" name="phone" placeholder="Teléfono" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-get-touch">
                                    <input type="email" name="email" placeholder="Correo electronico" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-get-touch">
                                   <input type="number" name="montoCredito" placeholder="CUANTO DINERO NECESITA" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-get-touch">

                                  <label for="file">Último bono de sueldo (opcional)</label>
                                   <input type="file" name="bonoSueldo" accept="image/*,.pdf">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-get-touch">
                                   <button type="submit" name="submit" class="btn btn-default btn-sm">SOLICITAR PRESTAMO</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="choose-img">
                        <img src="{% static '/img/ceo.png' %}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <!-- Fin sobre calculadora de prestamos  -->


    <!-- start loan process section -->
    <section class="loan-process-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Proceso simple</h2>

                    </div>
                </div>
            </div>
            <div class="row process-list">
                <div class="col-lg-3 col-md-6 process text-center">
                    <div class="single-process">
                        <div class="proces-icon">
                            <span class="pe-7s-note"></span>
                        </div>
                        <div class="content">
                            <h4 class="process-title">Elija el monto del préstamo</h4>
                            <p>Elija el monto de su préstamo y los términos de uso.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 process text-center">
                    <div class="single-process">
                        <div class="proces-icon">
                            <span class="pe-7s-id"></span>
                        </div>
                        <div class="content">
                            <h4 class="process-title">Proporcione la documentación</h4>
                            <p>Necesita proporcionar algún documento básico para la verificación.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 process text-center">
                    <div class="single-process">
                        <div class="proces-icon">
                            <span class="pe-7s-check"></span>
                        </div>
                        <div class="content">
                            <h4 class="process-title">Préstamo aprobado</h4><br>
                            <p>Su especialista en préstamos hace pocas preguntas y verifica los documentos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 process text-center">
                    <div class="single-process">
                        <div class="proces-icon">
                            <span class="pe-7s-cash"></span>
                        </div>
                        <div class="content">
                            <h4 class="process-title">Obtenga su dinero</h4><br>
                            <p>Una vez que se aprueba el préstamo, obtiene un crédito por el monto del préstamo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="Contacto"> </div>
    <!-- end of loan process section -->
    <!-- inicio de area de contacto -->
    <section class="section-padding contact-us-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="get-in-touch">
                        <h2>Contactese con nosotros</h2>
                        <p>Le responderemos a la brevedad.</p>
                    </div>
                    <form action="mail.php" method="POST">
                        <div class="row list-input">
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <input type="text" name="name" placeholder="NOMBRE Y APELLIDO" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-get-touch">
                                    <input type="text" name="phone" placeholder="CELULAR" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-get-touch">
                                    <input type="email" name="email" placeholder="CORREO ELECTRONICO" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-get-touch">
                                   <textarea name="message" placeholder="MENSAJE" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-get-touch">
                                   <button type="submit" name="submit" class="btn btn-default btn-sm">ENVIAR MENSAJE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="choose-img">
                        <img src="{% static 'img/contact.png' %}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-contact-info">
                        <div class="icon">
                            <img src="{% static 'img/map-pin-2.png' %}">
                        </div>
                        <div class="content">
                            <p>España 1248 Ciudad, Mendoza <br>
                                    Argentina.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-contact-info">
                        <div class="icon">
                            <img src="{% static 'img/envalope-3.png' %}">
                        </div>
                        <div class="content">
                            <p>financieranelam@gmail.com <br>
    respondemos casi al instante</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-contact-info">
                        <div class="icon">
                            <img src="{% static 'img/call-2.png' %}">
                        </div>
                        <div class="content">
                            <p><a href="https://wa.me/5492616115562?text=%22Hola%20quiero%20solicitar%20un%20credito%22" target="_blank" >+54 261 6 115 562</a><br>
    Wsp @ 8.30am to 18.00pm </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- fin de area de contacto -->

    <!-- start footer area -->
    <section class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="footer-widget">

                        <p>Somos un equipo de profesionales con mas 15 años ofreciendo soluciones crediticias a nuestros clientes. Nuestro objetivo es que el proceso de obtencion de credito y su finalizacion sea lo mas eficiente posible.</p>
                        <div class="mail">
                            <span>Cualquier consulta :</span>financieranelam@gmail.com
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="footer-widget pages-widget">

                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">EMPRESA</a></li>
                            <li><a href="#">PRESTAMOS</a></li>
                            <li><a href="#">CONTACTOS</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="footer-widget recent-post">
                        <div class="footer-title">
                            <h4>Social</h4>
                        </div>
                        <ul>
                            <li><a href="#">This book is a treatise on theory
of ethics very popular. <span class="date">January 18, 2018</span></a></li>
                            <li><a href="#">Be cites of the word in classical
literature to discove. <span class="date">Februay 10, 2018</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>Newsletter</h4>
                        </div>
                        <div class="form-widget">
                            <p>Suscribase para recibir todas las novedades en su mail.</p>
                            <form action="#" method="get">
                                <div class="newsletter">
                                    <label for="envalope" class="fa fa-envelope"></label>
                                    <input id="envalope" type="email" name="email" placeholder="correo electronico">
                                </div>
                                <button type="submit" class="button btn btn-default btn-lg">Suscribirse +</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copy-right-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="copyright-text">
                        <p><i class="fa fa-copyright"></i> 2020 Nelam Financiera. Todos los derechos reservados</p>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="footer-nave">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of footer area -->
    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'js/menumaker.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{% static 'js/calculator.js' %}"></script>






</body>
</html>
