{% url 'login' as login %}
{% url 'register' as register %}


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<a href="{% url 'index' %}" class="navbar-brand">Alianza Financiera</a>
	<button type="button" name="button" class="navbar-toggler navbar-toggler-rigth" data-toggle="collapse" data-target="#navb">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div id="navb" class="navbar-collapse collapse hide">

		<ul class="navbar-nav">


				{% if user.is_authenticated %}

					<li class="nav-item {% if request.path == shipping_adresses %} active {% endif %}" >
							<a class="nav-link" href="{{ shipping_adresses }}">
					Mis direcciones <span class="fas fa-location-arrow"></span>
							</a>
					</li>

					<li class="nav-item {% if request.path == completeds %} active {% endif %}" >
							<a class="nav-link" href="{{ completeds }}">
					Mis pedidos <span class="fas fa-shipping-fast"></span>
							</a>
					</li>

					<li class="nav-item {% if request.path == billing_profiles %} active {% endif %}" >
							<a class="nav-link" href="{{ billing_profiles }}">
					Mis metodos de pago <span class="fab fa-cc-stripe"></span>
							</a>
					</li>

				{% endif %}


		</ul>

		<ul class="nav navbar-nav ml-auto">

			{% if user.is_authenticated %}


				<li class="navbar-item">
				<a href="{% url 'logout' %}" class="nav-link">
					<span class="fas fa-sign-in-alt"></span> Logout</a>
			</li>

			{% else %}

			<li class="navbar-item {% if request.path == login %}active{% endif %}">
				<a href="{{ login }}" class="nav-link">
					<span class="fas fa-user"></span> Login</a>
			</li>
				<li class="navbar-item {% if request.path == register %}active{% endif %}">
				<a href="{{ register }}" class="nav-link">
				<span class="fas fa-user-plus"></span> Registro</a>

			{% endif %}


		</ul>


	</div>



</nav>
